[submodule "site_controller"]
	path = site_controller
	url = https://github.com/flexgen-power/site_controller.git
[submodule "dnp3_interface"]
	path = dnp3_interface
	url = https://github.com/flexgen-power/dnp3_interface.git
[submodule "metrics"]
	path = metrics
	url = https://github.com/flexgen-power/metrics.git
[submodule "web_server"]
	path = web_server
	url = https://github.com/flexgen-power/web_server.git
[submodule "web_ui"]
	path = web_ui
	url = https://github.com/flexgen-power/web_ui.git
[submodule "scheduler"]
	path = scheduler
	url = https://github.com/flexgen-power/scheduler.git
[submodule "cops"]
	path = cops
	url = https://github.com/flexgen-power/cops.git
[submodule "fleet_manager"]
	path = fleet_manager
	url = https://github.com/flexgen-power/fleet_manager.git
[submodule "washer"]
	path = washer
	url = https://github.com/flexgen-power/washer.git
[submodule "ftd"]
	path = ftd
	url = https://github.com/flexgen-power/ftd.git
[submodule "cloud_sync"]
	path = cloud_sync
	url = https://github.com/flexgen-power/cloud_sync.git
[submodule "dts"]
	path = dts
	url = https://github.com/flexgen-power/dts.git
[submodule "echo"]
	path = echo
	url = https://github.com/flexgen-power/echo.git
[submodule "twins"]
	path = twins
	url = https://github.com/flexgen-power/twins.git
[submodule "overwatch"]
	path = overwatch
	url = https://github.com/flexgen-power/overwatch.git
