[submodule "site_controller"]
	path = site_controller
	url = https://github.com/flexgen-power/site_controller.git
[submodule "bootstrap"]
	path = bootstrap
	url = https://github.com/flexgen-power/bootstrap.git
