[submodule "site_controller"]
	path = site_controller
	url = git@github.com:flexgen-power/site_controller.git
[submodule "modbus_interface"]
	path = modbus_interface
	url = git@github.com:flexgen-power/modbus_interface.git
[submodule "dnp3_interface"]
	path = dnp3_interface
	url = git@github.com:flexgen-power/dnp3_interface.git
[submodule "dbi"]
	path = dbi
	url = git@github.com:flexgen-power/dbi.git
[submodule "events"]
	path = events
	url = git@github.com:flexgen-power/events.git
[submodule "metrics"]
	path = metrics
	url = git@github.com:flexgen-power/metrics.git
[submodule "web_server"]
	path = web_server
	url = git@github.com:flexgen-power/web_server.git
[submodule "web_ui"]
	path = web_ui
	url = git@github.com:flexgen-power/web_ui.git
[submodule "scheduler"]
	path = scheduler
	url = git@github.com:flexgen-power/scheduler.git
[submodule "cops"]
	path = cops
	url = git@github.com:flexgen-power/cops.git
[submodule "ess_controller"]
	path = ess_controller
	url = git@github.com:flexgen-power/ess_controller.git
[submodule "fleet_manager"]
	path = fleet_manager
	url = git@github.com:flexgen-power/fleet_manager.git
[submodule "washer"]
	path = washer
	url = git@github.com:flexgen-power/washer.git
[submodule "ftd"]
	path = ftd
	url = git@github.com:flexgen-power/ftd.git
[submodule "cloud_sync"]
	path = cloud_sync
	url = git@github.com:flexgen-power/cloud_sync.git
[submodule "dts"]
	path = dts
	url = git@github.com:flexgen-power/dts.git
[submodule "echo"]
	path = echo
	url = git@github.com:flexgen-power/echo.git
[submodule "twins"]
	path = twins
	url = git@github.com:flexgen-power/twins.git
[submodule "overwatch"]
	path = overwatch
	url = git@github.com:flexgen-power/overwatch.git
[submodule "fims/package_utility"]
	path = fims/package_utility
	url = git@github.com:flexgen-power/package_utility.git
