[Unit]
Description=ESS Controller - manage ESS systems
Requires=fims.service dbi.service
After=fims.service dbi.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/ess_controller -f %I
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
