[Unit]
Description=Overwatch
Requires=fims.service
After=fims.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/overwatch -c /usr/local/etc/config/overwatch/config.json
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target