[Unit]
Description=FlexGen Scheduler - schedules charge and discharge events
Requires=fims.service dbi.service
After=fims.service dbi.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/scheduler
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
