[Unit]
Description=Go_metrics - provides routines to manipulate incoming data and publish results
Requires=fims.service
After=fims.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/go_metrics /usr/local/etc/config/go_metrics/%I
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target