attrs==22.2.0
autopep8==2.0.2
Cython==0.29.32
decopatch==1.4.10
execnet==1.9.0
gcovr==5.0
importlib-metadata==4.8.3
iniconfig==1.1.1
Jinja2==3.0.3
lxml==4.9.1
makefun==1.15.0
MarkupSafe==2.0.1
packaging==21.3
pandas==1.1.5
pluggy==1.0.0
py==1.11.0
pycodestyle==2.10.0
pyfims==1.3.0
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.0.1
pytest-cases==3.6.13
pytest-forked==1.4.0
pytest-sugar==0.9.6
pytest-xdist==2.5.0
python-dateutil==2.8.2
pytz==2022.6
six==1.16.0
termcolor==1.1.0
tomli==1.2.3
typing-extensions==4.1.1
zipp==3.6.0
