[Unit]
Description=PSM - virtual site model
Requires=fims.service
After=fims.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/psm /usr/local/etc/config/psm
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
