[Unit]
Description=FlexGen Internal Messaging Service

[Service]
User=hybridos
ExecStart=/usr/local/bin/fims_server
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
