registry=https://registry.npmjs.org/
@flexgen:registry=https://flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:_auth=ZGV2b3BzLXJvOkxaTnlhdW0jckZDaCUz
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:always-auth=true
//flexgenpower.jfrog.io/artifactory/api/npm/flexgen-npm/:email=devops@flexgen.com