[Unit]
Description=Metrics computation from FIMS pubs/sets
Requires=fims.service
After=fims.service

[Service]
User=hybridos
ExecStart=/usr/local/bin/metrics /usr/local/etc/config/metrics/%I
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target
